{% extends 'main.html' %}
{% load static %}

{% block content %}

{% if phone_available == Null %}
<a href="{% url 'phone' %}" class="text-danger text-center mx-3 mt-2 d-flex justify-content-center" style="font-size: 0.85rem;" data-bs-toggle="modal" data-bs-target="#delete_quote_Modal">
    <i class="bi bi-phone-vibrate-fill"></i><p style="font-size: 0.75rem;">Please add phone number so that we can deliver your scheduled messages!</p>
</a> 
{% endif %}
<div class="container">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-2"><img src="{% static 'images/profile_picture.jpg' %}" alt="profile_picture" class="img-fluid"></div>
            <div class="col-10 text-secondary h2">Hello {{ profile.username }} <i class="bi bi-lightbulb" style="color: #ff7369;"></i></div>
        </div>
        <div class="d-flex flex-row justify-content-center mt-3">
            <a href="{% url 'create-quote' %}">
                <div class="btn text-white text-nowrap rounded-pill px-4" style="background-color: #ff7369;">
                    Create
                </div>
            </a>
        </div>
        <div class="row mt-3">
            <div class="col lead fs-2 fw-bold" style="color: #ff7369;">Your Quotes</div>
        </div>
    </div>
    <!-- We will create a loop to output each quote-->
    {% for quote in results_per_page %}
    <a href="{% url 'update-quote' quote.id %}" class="m-1" style="text-decoration: none;">
        <div class="container bg-light border border-danger rounded">
            <div class="row mx-2 mt-2 mb-1">
                <div class="col-lg-2"></div>
                <div class="col col-lg-6 text-secondary" > 
                    <blockquote class="blockquote text-start" style="font-size: 0.85rem;">
                        {{ quote.content }}
                    </blockquote>
                    <figcaption class="blockquote-footer text-end" style="font-size: 0.85rem;">
                        {{ quote.author }}
                    </figcaption>
                </div>
                <div class="col-2 col-lg-2"><i class="bi bi-pen" style="color: #ff7369;"></i></div>
            </div>
            {% for time_tag in quote.schedule_set.all %}
            <div class="row my-1 mx-2">
                <div class="col-lg-2"></div>
                <div class="col col-lg-6 fst-italic" style="color: #ff7369; font-size: 0.85rem;">{{ time_tag }}</div>
            </div>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
    <!-- end of a loop to output each quote-->

</div>

{% include 'pagination.html' with collection=results_per_page custom_range=custom_range %}

{% endblock content %}