{% extends 'main.html' %}
{% load static %}
{% block extrahead %} 
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

{% block content %}
<div class="hero">
    <h1 class="hero__slogan">Be Your Own Biggest Fan</h1>
    <img src="{% static 'dev_images/hero.svg' %}" alt="hero_image" class="hero__image">
    <p class="hero__introduction">Auto-messaging motivation system</p>
    <button class="hero__button">Try Whisper Free</button>
    <div class="hero__quotes">
        <h2 class="hero__quotes__single-quote">{{ quote }}</h2>
        <p class="hero__quotes__author">--{{ author }}</p>
    </div>
    <img src="{% static 'dev_images/message.svg' %}" alt="hero_message_image" class="hero__description-image1">  
    <p class="hero__description-1">Reading a quote somewhere that you resonate with? Pick your quotes and set schedule.</p>
    <p class="hero__description-2">
        <span style="color: #ff7369">Whisper</span> will text you those words of wisdom, as reminders,
        to empower you to move forward and achieve your goals. 
    </p>
    <img src="{% static 'dev_images/phone.svg' %}" alt="hero_phone_image" class="hero__description-image2">  

</div>
{% endblock content %}

