{% load static %}
<div class="navbar">
    <a href="{% url 'home' %}"><img src="{% static 'dev_images/logo_whisper.svg' %}" alt="logo" class="logo"></a>
    <ul class="nav-menu">
        <li class="nav-item">
           <a href="#" class="menu-link">About Whisper</a> 
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'profiles' %}" class="menu-link">My Account</a> 
        </li>
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="menu-link">Log Out</a> 
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'login' %}" class="menu-link">Log In</a> 
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="#" class="menu-link">Contact</a> 
        </li>        
    </ul>

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>