{% extends 'main.html' %}
{% block content %}

<div class="container">
    <div class="row text-start px-5">
        <div class="col-lg-4"></div>
        <div class="col-12 col-lg-4">
            <h6 class="form-label pt-2 pb-1 ps-2 px-0 m-0 text-center" style="color:#ff7369">Password reset sent</h6>
        </div>
        <div class="col-lg-4"></div>  
    </div>
    <div class="row text-start px-5">
        <div class="col-lg-4"></div>
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
            <p class="form-label pt-2 pb-1 ps-2 px-0 m-0 text-center" style="font-size: 0.75em">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p class="form-label pt-2 pb-1 ps-2 px-0 m-0 text-center" style="font-size: 0.75em">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
        <div class="col-lg-4"></div>  
    </div>
</div>

{% endblock content %}