* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Wording animation */
.wrapper {
    display: inline-flex;
}


.dynamic-txts{
    font-weight: 500;
    color: #ff7369;
}

.dynamic-txts span {
    position: relative;
    font-weight: 500;
}

.dynamic-txts span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background:white;
    border-left: 2px solid #ff7369;
    animation: typing 4s steps(20) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -5px 0 5px;
    }
}

/* Nav Bar & Hamburger Menu Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo {
    width: 100px;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.menu-link {
    transition: 0.3s ease;
    color: #ff7369;
    text-decoration: none;
    
}

.nav-link:hover {
    color: rebeccapurple;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #ff7369;
}

@media (max-width: 786px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: white;
        border: 2px;
        border-style: dotted;
        border-color: #ff7369;
        z-index: 99;

    }

    .nav-menu.active {
        left: 0;
    }
}
